<mat-card class="card">
  <mat-card-title>Adicionar nova tarefa</mat-card-title>
  <mat-form-field>
    <input matInput placeholder="Nova tarefa"
    [(ngModel)]="tarefa.tarefa"
    (keyup.enter)="salvarTarefa()"
    required
    minlength="3"
    #tarefaControl="ngModel">
  </mat-form-field>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="tarefaControl.invalid" (click)="salvarTarefa()">
    Adicionar</button>
    <!-- <button mat-raised-button color="warn">Cancelar</button> -->
  </mat-card-actions>
</mat-card>